@{
    ViewData["Title"] = "AnimalNotFound";
}
@*This is the error page if the animal name is not found in the search bar *@
<h1>Animal Name Invalid, Renter Your Animal's Name</h1>

<input type="button" onclick="history.go(-1)" value="Return to client detail" />
