@*Admin Nav-Bar*@
<main>
    <div>

        <ul class="nav justify-content-center ">
            <li class="nav-item">
                <a class="nav-link active text-white" asp-controller="Admin" asp-action="AllPetsDisplay">All Pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" asp-controller="Admin" asp-action="AddPet">AddPet</a>
            </li>            
        </ul>

    </div>
</main>