@model CommentsViewModel

@*Add Comment*@
<div class="container ">

    <div>
        <div class="container d-flex flex-column justify-content-between align-items-center" style="width:inherit">
            @foreach (var item in Model.Animal.Comments)
            {
                <div class="card bg-info text-black-50 shadow-lg m-2 bg-white rounded" style="width:100%; height:auto; max-width:100%;min-width:100%">
                    <div>
                        <p class="text-break">@item.CommentText</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        <h6>Add Comment</h6>
        <form asp-action="AddComment" asp-controller="Home" method="post">
            @Html.HiddenFor(m => m.Comment.AnimalId)
            <div class="form-group">
                <label asp-for="Comment.CommentText" class="control-label"></label>
                <textarea asp-for="Comment.CommentText" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Comment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>